*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 20px;
}

.menu{
  margin-left: 43%;
list-style:none;
border:1px solid #c0c0c0;
float:left;
position: -webkit-sticky;
}
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }
    
    .menu li a{color: rgb(255, 255, 255); text-decoration:none; padding:5px 10px; display:block;}

    .menu li a:hover{
    background:#ffffff;
    color:#747171;
    -moz-box-shadow:0 3px 10px 0 #727272;
    -webkit-box-shadow:0 3px 10px 0 #797373;
    text-shadow:0px 0px 5px #7c7979;
    }

    .menu li  ul{
        position:absolute;
        top:25px;
        left:0;
        background-color:#525151;
        display:none;
        }

        .menu li:hover ul, .menu li.over ul{display:block;}

        .menu li ul li{
            border:1px solid #c0c0c0;
            display:block;
            width:150px;
            }
            
    
  
  
            .texto {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 40px;
                text-align: center;
                margin-bottom: 50px;
                color: white;
                text-shadow:
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000,
                1px 1px 0 #000000;
            }
          
            .Camisetas {
            margin-left: 6%;
            margin-right: 6%;
            width: 20%;
            height: 57%;
            }
            .propaganda {
              margin-right: 6%;
              width: 25%;
              height: 55%;
              margin-left: 6%;
            }
            .propaganda1 {

              width: 22%;
              height: 55%;
            }



            .bannerimage2 {
                display: block;
                margin-top: 150px;
                margin-left: auto;
                margin-right: auto;
                 width: 50%;
                 margin-bottom: 30px;
                 border-radius: 20px;
            }
            #Library {
        
        border-radius: 20px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         transition: 0.3s;
          }
          
          #Library:hover {
              content: url('rosa.png');
             
          }

          .titulo {
            font-size: 30px;
            margin-left: 400px;
            color: rgb(0, 0, 0);
            position: relative;
           
            }
            
            .pt-sans-narrow-regular {
              font-family: "PT Sans Narrow", sans-serif;
              font-weight: 400;
              font-style: normal;
              font-size: 30px;
            margin-left: 75px;
            color: rgb(0, 0, 0);
               }
          .texto2{
            margin-left: 400px;
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-family: "PT Sans Narrow", sans-serif;
            font-weight: 400;
            font-style: normal;
            
            
          }

          
          .subtexto {
            margin-left: 500px;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-family: "PT Sans Narrow", sans-serif;
            font-weight: 400;
            font-style: normal;
          }
          
          .titulo2 {
            color: rgb(32, 126, 32);
           font-size: 40px;
            text-align: center;
            font-weight: bold;
            text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
          }

             
          .titulo3 {
            color: rgb(255, 255, 255);
           font-size: 50px;
            text-align: center;
            font-weight: bold;
            text-shadow:
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px 1px 0 #000000,
            1px 1px 0 #000000;
          }
          .anuncio{
            width: 23%;
            height: 80%;
            margin-right: 50%;
          position: fixed;
      
          }
          .anuncio1{
            margin-left: 79%;
            width: 23%;
            height: 80%;
          position: fixed;
      
          }