*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 20px;
}

.menu{
list-style:none;
border:1px solid #c0c0c0;
float:left;
position: -webkit-sticky;
}
.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }
    
    .menu li a{color: rgb(0, 0, 0); text-decoration:none; padding:5px 10px; display:block;}

    .menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
    }

    .menu li  ul{
        position:absolute;
        top:25px;
        left:0;
        background-color:#fff;
        display:none;
        }

        .menu li:hover ul, .menu li.over ul{display:block;}

        .menu li ul li{
            border:1px solid #c0c0c0;
            display:block;
            width:150px;
            }
            
    
  
  
            .texto {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 40px;
                text-align: center;
                margin-bottom: 50px;
                color: white;
                text-shadow:
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000,
                1px 1px 0 #000000;
            }
          
            .Camisetas {
            margin-left: 190px;
            margin-right: 190px;
            }


            .bannerimage2 {
                display: block;
                margin-top: 150px;
                margin-left: auto;
                margin-right: auto;
                 width: 50%;
                 margin-bottom: 30px;
                 border-radius: 20px;
            }
            #Library {
        
        border-radius: 20px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         transition: 0.3s;
          }
          
          #Library:hover {
              content: url('rosa.png');
             
          }

          .titulo {
            margin-left: 75px;
            color: white;
          }
          .texto2{
            margin-left: 110px;
            font-size: 32px;
            color: white;

          }
          .subtexto {
            margin-left: 175px;
            color: white;
            font-size: 32px;
          }
          
          .titulo2 {
            color: rgb(32, 126, 32);
           font-size: 50px;
            text-align: center;
            font-weight: bold;
            text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
          }

             
          .titulo3 {
            color: rgb(255, 255, 255);
           font-size: 50px;
            text-align: center;
            font-weight: bold;
            text-shadow:
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px 1px 0 #000000,
            1px 1px 0 #000000;
          }